*.pyc
__pycache__
myenv/*
.DS_Store
solutions/__pycache__
.streamlit/secrets.toml
solutions/tools/__pycache__
__pycache__/utils.cpython-312.pyc
models/ST-clip/0_CLIPModel/pytorch_model.bin
data/frame*.jpg
abc.mp4
